@{
    ViewData["Title"] = "List of the Books";
}
<div class=“text-center”>
    <h1 class="display-4">Welcome to our book World!</h1>
    <p>Choose what you love!</p>
</div>
<!DOCTYPE html>
<html>
<body>


    <button type="button" class="btn btn-outline-primary"><a class="nav-link text-dark" asp-area="" asp-controller="BookLib" asp-action="Classics">Classics</a></button>


    <button type="button" class="btn btn-outline-primary"><a class="nav-link text-dark" asp-area="" asp-controller="BookLib" asp-action="Bestsellers">Bestsellers</a></button>


    <button type="button" class="btn btn-outline-primary"><a class="nav-link text-dark" asp-area="" asp-controller="BookLib" asp-action="Science">Science</a></button>


    <button type="button" class="btn btn-outline-primary"><a class="nav-link text-dark" asp-area="" asp-controller="BookLib" asp-action="Return">Return</a></button>




</body>
</html>