@model ErrorViewModel

@{
    ViewData["Title"] = "Return";
}
<script>
    function success()
    {
        alert("Your book has been returned");
    }
</script>
<!DOCTYPE html>
<div class=“text-center”>
    <h1 class="display-4">Enter your book ID here</h1>

    <input name="BookId" type="text" />
    <br />
    <input onclick ="success()" type="submit" value="Return" />
    <br />
</div>



