@model ErrorViewModel

@{
    ViewData["Title"] = "Return";
}

<div class=“text-center”>
    <h1 class="display-4">Enter your book ID here</h1>

    <input type="text" name="bookKeyword" />
    <br />
    <input type="submit" value="Return" />
    <br />

    @{





        @*@if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger error-message" role="alert">
                @Model.ErrorMessage
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.SucessMessage))
        {
            <div class="alert alert-success error-message" role="alert">
                @Model.SucessMessage
            </div>
        }*@



    }




    <h1 class="display-8">Your book have been returned</h1>


</div>
            <!DOCTYPE html>
