@{
    ViewData["Title"] = "Return";
}

<div class=“text-center”>
    <h1 class="display-4">Enter your book ID here</h1>

    <input type="text" name="bookKeyword" />
    <br />
    <input type="submit" value="Return" />
    <br />
    


</div>
<!DOCTYPE html>
