@model ErrorViewModel

@{
	ViewData["Title"] = "Return";
}
<script>
 function success()
 {
  alert("Your book has been returned");
 }
</script>
<!DOCTYPE html>
<div class=“text-center”>
 <h1 class="display-4">Enter your book ID here</h1>
	@using (Html.BeginForm("Index", "BookLib", FormMethod.Post))
	{
		 <input name="BookId" type="text" />
		 <br />
		 <input onclick="success()" type="submit" value="Return" />
		 <br />
	}


    <style>
        div {
            background-image: url('https://z-p3-scontent.frix8-1.fna.fbcdn.net/v/t1.6435-9/118517006_1155329578182201_3278035549063514634_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=DNgDqA-XJggAX8udAVA&tn=Zsw-GAziQps8vne3&_nc_ht=z-p3-scontent.frix8-1.fna&oh=3dddc7290d0611ba7327f605915828e4&oe=61270065')
        }
    </style>





