@model UserContactsViewModel

@{
    ViewData["Title"] = "Return";
}

<div class=“text-center”>
    <h1 class="display-4">Enter your book ID here</h1>

    <input type="text" name="bookKeyword" />
    <br />
    <input type="submit" value="Return" />
    <br />

    @{

        @*if (OK, <Br)
        {             // we need to return here 



        }

        else

        {

            

         }*@


    }




    <h1 class="display-8">Your book have been returned</h1>


</div>
<!DOCTYPE html>
