@{
    ViewData["Title"] = "UserContacts";
}

<div class=“text-center”>
  
</div>
<!DOCTYPE html>

<script>function success()
    {
    alert("You can take your book now" "Press backspace to return");

    }</script>

