@{
    ViewData["Title"] = "Science";
}

<div class=“text-center”>
    <h1 class="display-4">Search your book here</h1>

    <input type="text" name="bookKeyword" />
    <br />
    <input type="submit" value="Search" />
    <br />


</div>
<!DOCTYPE html>
