@{
    ViewData["Title"] = "Home Page";
}

<div class=“text-center”>
    <h1 class="display-4">Welcome to our book World!</h1>
    <p>Choose what you love!</p>
</div>
<!DOCTYPE html>
<html>
<body>

    <button class=“button button1”>Classics</button><a href="Classics.html" />

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Classics">Classics</a>

    <button class=“button button2">Bestsellers</button><a href="Bestsellers.html" />

    <a class="nav-link text-dark" asp-area="" asp-controller="Bestsellers" asp-action="Index">Bestsellers</a>

    <button class=“button button3”>Science</button><a href="Science.html" />

    <a class="nav-link text-dark" asp-area="" asp-controller="Science" asp-action="Index">Science</a>

    <button class=“button button4">Return</button><a href="Return.html" />

    <a class="nav-link text-dark" asp-area="" asp-controller="Return" asp-action="Index">Return</a>


</body>
    </html>

