@page
    ViewData["Title"] = "Home Page";
    @{
        <div class=“text-center”>
            <h1 class="display-4">Welcome to our book World!</h1>
            <p>Choose what you love!</p>
        </div>
        <!DOCTYPE html>
        <html>
        <body>



            <a class="nav-link text-dark" asp-area="" asp-controller="BookLibController" asp-action="Classics">Classics</a>



            <a class="nav-link text-dark" asp-area="" asp-controller="BookLibController" asp-action="Bestsellers">Bestsellers</a>


            <a class="nav-link text-dark" asp-area="" asp-controller="BookLibController" asp-action="Science">Science</a>



            <a class="nav-link text-dark" asp-area="" asp-controller="BookLibController" asp-action="Return">Return</a>


        </body>
    </html>
    }
